* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background: white;
  min-height: 100vh;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  height: calc(100vh - 120px);
  margin-top: 70px;
  width: 100vw;
  overflow: hidden;
}
